*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.bg__section{
    background-image: url(../Images/BGimg.jpg);
    width: 100vw;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: -1;
}

.show__header
{
    width:30px;
    height: 20px;
    /*background: #ffa500;*/
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:fixed;
    z-index: 1;
    top:15px;
    left:15px;
    cursor:pointer;

    & .span__outer
    {
        display: flex;
        width: 100%;
        height:27%;
        background: white;
        
        & .span__inner
        {
            width: 0px;
            background: #03c924;
            transition: all ease .3s;
        }
        
        &:nth-child(3n + 1) .span__inner {transition-delay: 0s;}
        &:nth-child(3n + 2) .span__inner {transition-delay: .1s;}
        &:nth-child(3n + 3) .span__inner {transition-delay: .2s;}
   
       
    }
    
     &:hover .span__inner 
        {
            width: 100%;
        }
        
}

#show__header{
    display: none;
    &:checked + .header{
        left:0;
    }
}



.header{
    left:-100vw;
    width:100vw;
    height:100px;
    background-color: #daa520;
    position:fixed;
}

.wrapper{
    &__block{
        height:50vh;
        min-height: 100vh;
        &:nth-child(even){
            background: #ffffff;
        }
    }
}