*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.bg__section{
    background-image: url(../Images/BGimg.jpg);
    width: 100vw;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: -1;
}

.show__header
{
    width:30px;
    height: 20px;
    /*background: #ffa500;*/
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:fixed;
    z-index: 1;
    top:15px;
    left:15px;
    cursor:pointer;

    & .span__outer
    {
        display: flex;
        width: 100%;
        height:27%;
        background: white;
        
        & .span__inner
        {
            width: 0px;
            background: #03c924;
            transition: all ease .3s;
        }
        
        &:nth-child(3n + 1) .span__inner {transition-delay: 0s;}
        &:nth-child(3n + 2) .span__inner {transition-delay: .1s;}
        &:nth-child(3n + 3) .span__inner {transition-delay: .2s;}
   
       
    }
    
     &:hover .span__inner 
        {
            width: 100%;
        }
        
}

#show__header{
    display: none;
    &:checked + .header{
        left:0;
        top:0px;
        opacity: 1;
        & .header__nav_item{
            opacity: 1;
            transition: all ease 0.5s;
        }
    }

}



.header{
    left:-100vw;
    width:100vw;
    height:100px;
    background-color: #0000004f;
    position:fixed;
    top:-30px;
    opacity: 0.5;
    /*transition: all 0.5s;*/
    transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    display:flex;
    justify-content: flex-end;
    &__nav{
        width:50%;
        display:flex;
        justify-content:space-around;
        align-items: center;
        &_item{
            background: #ffffff;
            width:150px;
            height:50px;
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 25px;
            text-decoration: none;
            color: black;
            transition: all ease 0.5s;
            transition-delay: 1s;
        }
    }
}

.wrapper{
    &__block{
        height:50vh;
        min-height: 100vh;
        &:nth-child(even){
            background: #ffffff;
        }
    }
}

@keyframes toggle{
    form{
        width:0px;
    }

    to{
        width:150px;
    }
}